body {
	font-size: 15px;
}

#main, #left {
	visibility: hidden;
}

body.app-ready #progress {
	display: none;
}

body.app-ready #main, body.app-ready #left {
	visibility: visible;
}

md-sidenav.md-locked-open {
    width: 254px;
    min-width: 254px;
    max-width: 254px;
}

.logotype img {
	width: 175px;
}


.user-avatar {
  border-radius: 99%;
}

.user-box {
	padding: 16px; 
}

.user-box h4 {
	margin:5px 0 2px 0;	
}

.user-box span {
	font-size: 85%;	
}

md-list.menu a md-item-content {
	position: relative;
	padding-left: 10px;
	/*margin-bottom: 5px;*/
}

md-list.menu md-item.sub a md-item-content {
    padding-left: 30px;
    font-weight: 300;
    fill:#aaa;
}


md-list.menu a:hover md-item-content {
	background-color: #eee;
}


md-list.menu a {
	color: #333;
	fill: #333;
	text-decoration: none;
}


md-toolbar:not(.md-hue-1), .md-fab {
  fill: #fff;
}

md-toolbar h1 {
  font-size: 1.20em;
  font-weight: 400;
  margin: auto;
}


.bg-grey {
	background-color: #fafafa;
}

.bg-dark {
	background-color: #252833;	
}

.session-detials .patient-tile h3{
	margin: 0px 0px 16px 0px;
}

.session-detials .patient-tile md-divider{
	margin-bottom: 16px;
}

.session-tools{
	padding-bottom: 5px; 
	margin-right: -5px	
}

.session-tools h3{
    font-size: 25;
    font-weight: 300;
}

.item {
	min-height: 24px;
	padding:5px 0px;
}

.item .dd {
	color: #0227bd;
	min-width: 100px;
	padding-right: 8px;
}

.item.absent {
	opacity: 0.5;
	text-decoration: line-through;
}

.item.indent .dd{
	padding-left: 1em;
	font-size: 90%;
	color: #666;
}

.item .dt .bar-chart {
	background-color: #B3E5FC;
	text-align: right;
	padding: 0px 2px;
}

.inset {
	padding:8px;
}


.inset-2 {
	padding:16px;
}

.patient-tile-container {
	outline: none;
}

.patient-tile-container.selected {
	background-color: #eee;
}

.patient-tile-container.selected .patient-tile{
	transform : scale(0.90, 0.90);
	margin: 0; 
}

.patient-tile  {
	position: relative;;
	margin-right:16px;
	margin-bottom:16px;
	background-color: #fff;
	padding:16px;
}

.patient-tile-container.selected .patient-tile .select-btn{
	fill:#999;
	visibility: visible;
}

.patient-tile-container:hover  .patient-tile .select-btn{
	visibility:visible;
}

.select-btn {
	visibility:hidden;
	fill:#ccc;
	position:absolute; 
	top:10px; 
	right:10px;
}

.select-btn:hover {
	fill:#888;
}

md-toolbar {
	fill:#fff;
}

md-menu-item>.md-button ng-md-icon {
  margin: auto 16px auto 0;
}

ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.table-row {
	padding: 5px 0px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	cursor: pointer;
	outline: none;
}

.table-row:hover {
	background-color: #E1F5FE;
}

.table-row.selected {
	background-color: #E1F5FE;
}


.table-header {
	padding: 5px 0px;
	border-bottom: 1px solid #eee;
	background-color: #EEEEEE;
	font-weight: bold;
}

.table-row > div, .table-header > div{
	line-height: 30px;
	padding-top: 5px;
}

.table-row > div.checkbox-container, .table-header > div.checkbox-container {
	padding-top: 5px;	
	min-width: 48px;
}

.user-form {
	background-color: #fff;
	padding: 20px 30px 0px 30px;	
}

.user-form fieldset.radio-btn {
	margin-top: 20px;
	width: 200px;
	border: 1px solid #aaa;
	border-radius: 5px;	
}

.user-form fieldset.radio-btn legend{
	color: #999;
}

.form-tools {
	margin-left: -8px;
}


.checkbox-holder {
	/* margin-top: 10px; */
}

.checkbox-holder .label{
	/* border-bottom: 1px solid #ddd; */
	color: #999;
	/* display: inline-block; */
	margin-top: 13px;
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: 500;
}

.checkbox-holder md-checkbox{
	margin: 5px 0;
}


.c4c-app-background {
	background:#f7f7f7 url('img/app_backround@x2.png') no-repeat bottom left / 100%;
	height:100%;
	overflow: hidden;
}

/* login */

.c4c-login {
	width:290px; 
	padding: 0px 20px 20px 20px;	
}

.c4c-login.register {
	width:400px; 
}


.c4c-login h3 {
	font-size: 25;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin: 20px 4px;
}

.c4c-login-logotype {
	margin-top: 5%;
}

.c4c-login-logotype img {
	width: 250px;
	margin: 0px auto;
	display: block;
	padding-right:20px; 
}

.c4c-login .md-button[type=submit] {
	margin-left: 0;
	margin-right: 0;
}

.c4c-login .c4c-checkbox {
	margin-left:1px;
	font-weight: 300;
}

.c4c-login .login-error {
	margin-top:-10px;
	text-align:center;
	font-weight: 300;
	color: red;
}

.c4c-login > p {
	margin-top: 0px;
}

.c4c-login md-input-container {
	padding-bottom: 20px;
}

.c4c-login md-input-container.text-link {
	padding-bottom: 0;
}

.c4c-login md-input-container.text-link p {
	margin: 0;
	text-align: center;
}

.c4c-login md-input-container.text-link p a{
	text-decoration: none; 
	font-weight: 300;
}

 .c4c-appointment-container h4 {
    padding-left: 10px;
    font-size: 20;
    font-weight: 300;
    margin-top: 0;
 }

.c4c-appointment-calendar > div {
	margin-right: 40px;
}

.c4c-appointment-calendar > div:last-child {
	margin-right: 0px;
}

.cal-month md-button{
	height: 20px;
	line-height: 20px;
}

.cal-week-days {
	margin-bottom: 21px;
	margin-right: 3px;
}


.cal-week-days span {
	text-align: center;
	font-weight:600
}

.cal-date-cell {
 	float:left;
 	width: 33px;
 	height: 33px;
 	line-height: 33px;
 	text-align: center;
 	border-radius:50%;
 	margin: 1px;
 	cursor:pointer;
 	color:#ccc;
 	outline: none;
}

.cal-date-cell.this-month {
	color: #444;
}

.cal-date-cell.this-month.today {
	color:#333;
	font-weight: 700;
	background-color: #FAFAFA;
	box-shadow: 0 0px 5px 0 rgba(0,0,0,.26);
}

.cal-date-cell.selected,  .cal-hours .md-button.selected, .cal-minutes .md-button.selected {
	background-color: #0091de !important;
	color:#fff  !important;
	transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}


.cal-date-cell.suggested,  .cal-hours .md-button.suggested, .cal-minutes .md-button.suggested {
	background-color: #bbb;
	/* color:#fff; */
}

.cal-date-cell:hover {
	background-color:#eee;
}

 .cal-date {
 	width: 255px;
 }

.cal-date h4{
	margin-bottom: 10px;
}

.cal-date h4 .md-button.md-icon-button{
 	height: 20px;
 	line-height:20px;
 	position: relative;
 	top: -5px;
}

.cal-hours {
 	width:220px;
}

.cal-hours .md-button{
	/* flex-direction:column
 */}

.cal-minutes {
 	width:220px;
}

.cal-hours h4, .cal-minutes h4 {
	text-align:center
}

.cal-doctor {
	width:200px;
}  

.cal-doctor md-radio-button {
	margin-left:0px
}

#appointments {
	position: relative;	
}

.lock-size {
	position: absolute;
	bottom: -30px;
	right: 0px;
}