<html ng-app="c4c">
<head>
	<meta name="viewport" content="width=device-width, height=device-height, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
    <link rel="stylesheet" href="/c/css/style.css">
    <link rel="stylesheet" href="/c/css/animation.css">

</head>
<body layout="column" ng-controller="AppCtrl">

    <md-progress-circular id="progress" class="md-accent" md-mode="indeterminate" style="position:absolute; top:50%;left:50%"></md-progress-circular>

	<div layout="column" flex style="visibility:hidden" id="main">
		<md-toolbar layout="row" class="md-default-theme">
			<h1>Click4Care</h1>
			<div class="restartBtnContainer">
			    <md-button class="md-primary md-raised md-hue-1 toolbar-button" ng-click="end()" ng-show="$root.session.state == 1">
			      End session
			    </md-button>			
			    <md-button class="md-primary md-raised md-hue-1 toolbar-button" ng-click="start()" ng-show="!$root.session.state || $root.session.state > 1">
			      New session
			    </md-button>			
			</div>
		</md-toolbar>
		<md-progress-linear class="md-accent" md-mode="determinate" value="{{$root.progress}}"></md-progress-linear>		
		<div class="view-container">
			<div ng-view class="view-frame">

			</div>
		</div>
		<div class="attribution">This demo is powered by <a href="http://www.infermedica.com">Infermedica</a> diagnostic engine</div>
	</div>

	<script src="https://apis.google.com/js/client.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>

	<script src="/c/js/app.js"></script>
	<script src="/c/js/values.js"></script>
	<script src="/c/js/controllers.js"></script>
	<script src="/c/js/services.js"></script>

</body>
</html>