<md-content md-scroll-y flex>
	<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-lg="3" md-cols="4" md-row-height="300px" md-gutter="16px">
	 	<md-grid-tile class="session-card" ng-click="showDetail(event, item)" ng-repeat="item in sessions">
	 		<div class="md-tile-content patient-tile" flex layout="column" layout-align="start start" >
	 			<div layout="row" class="item line">
		 			<h3>{{item.patient.ref}}</h3><span flex></span><span am-time-ago="item.updated"></span>
				</div>
	 			<div layout="row" class="item">
	 				<div class="dd" flex="33">Age</div>
	 				<div class="dt" flex="66">{{item.patient.age}}</div>
	 			</div>
	 			<div layout="row" class="item">
	 				<div class="dd" flex="33">Gender</div>
	 				<div class="dt" flex="66">{{item.patient.gender}}</div>
	 			</div>
	 			<div layout="row" class="item">
	 				<div class="dd" flex="33">Outcome</div>
	 				<div class="dt" flex="66">{{item.outcome.name}}</div>
	 			</div>
	 			<div layout="row" class="item">
	 				<div class="dd" flex="33">Probability</div>
	 				<div class="dt" flex="66">{{item.outcome.probability*100 | number:1}}%</div>
	 			</div>
	 			<div layout="row" class="item" ng-show="item.state == '1'">
	 				<div class="dd" flex="33">Status</div>
	 				<div class="dt" flex="66">In progress</div>
	 			</div>
	 			<div layout="row" class="item" ng-show="item.state == '2'">
	 				<div class="dd" flex="33">Completed</div>
	 				<div class="dt" flex="66">{{item.ended | amDateFormat:'MMM DD, h:mmA'}}</div>
	 			</div>
	 		</div>
		</md-grid-tile>			
	</md-grid-list>
</md-content>
	