<div layout="row" class="session-tools">
	<h3>History</h3>
	<span flex></span>
	<div layout="row" layout-align="end center" ng-show="selected.length > 0">
 		<md-button class="md-raised" ng-click="clearSelected()">Cancel</md-button>
 		<md-button class="md-raised" ng-click="deleteSelected(selected)">Delete</md-button>
	</div>
</div>

<div layout="column" class="md-whiteframe-z1">
	<div layout="column" flex style="position: relative;">
		
		<div layout="row" class="table-header">
		    <div flex="5" layout="row" layout-align="center center" class="checkbox-container">
		    	<md-checkbox ng-click="toggleAll(selected, $event)"></md-checkbox>
		    </div>
		    <div flex="10">Patient</div>
		    <div flex="10">Gender</div>
		    <div flex="10">Age</div>
		    <div flex="30">Diagnosis</div>
		    <div flex="10">Confidence</div>
		    <div flex="10">Status</div>
		    <div flex="15">Timestamp</div>
		</div>

		<div class="table-row" layout="row" layout-align="center center" ng-hide="sessions">
			<div flex="20">Loading ...</div>
		</div>
		
		<div layout="row" ng-repeat="item in sessions" 
						  class="table-row" 
						  ng-class="exists(item.id, selected) ? 'selected' : ''" 
						  ng-click="showDetail(item, $event)">
		    <div flex="5" layout="row" layout-align="center start"  class="checkbox-container">
		    	<md-checkbox ng-click="toggle(item.id, selected, $event)" ng-checked="exists(item.id, selected)" aria-label="{{item.patient.ref}}"></md-checkbox>
		    </div>
		    <div flex="10">{{item.patient.ref}}</div>
		    <div flex="10">{{item.patient.gender}}</div>
		    <div flex="10">{{item.patient.age}}</div>
		    <div flex="30">{{item.outcome.name}}</div>
		    <div flex="10">{{item.outcome.probability*100 | number:1}}%</div>
		    <div flex="10">
		    	<span ng-show="item.state == '1'">In progress</span>
			 	<span ng-show="item.state == '2'">Completed</span>
		    </div>
		    <div flex="15">
		    	<span ng-show="item.state == '1'"><span am-time-ago="item.updated"></span></span>
			 	<span ng-show="item.state == '2'">{{item.ended | amDateFormat:'MMM DD, h:mmA'}}</span>
		    </div>
		</div>
	</div>
</div>
<!-- 

<div layout="row" layout-align="start start" layout-wrap style="margin-top: 5px">
 	<div flex="33" flex-sm="100" flex-md="50" flex-lg="50" 
 		 class="patient-tile-container" 
 		 ng-class="exists(item.id, selected) ? 'selected' : ''" 
 		 layout-align="start start" ng-click="showDetail(item, $event)" 
 		 ng-repeat="item in sessions">
 		<div layout="column" layout-padding flex class="patient-tile md-whiteframe-z1">

	        	<md-button class="md-icon-button select-btn" md-no-ink ng-click="toggle(item.id, selected, $event)" aria-label="Back">
	            	<ng-md-icon icon="check_circle"></ng-md-icon>
	          	</md-button> 				

	 			<div layout="row" class="item">
	 				<div class="dd">Patient</div>
	 				<div class="dt">{{item.patient.ref}}</div>
	 			</div>
	 			<div layout="row" class="item">
	 				<div class="dd">Age</div>
	 				<div class="dt">{{item.patient.age}}</div>
	 			</div>
	 			<div layout="row" class="item">
	 				<div class="dd">Gender</div>
	 				<div class="dt">{{item.patient.gender}}</div>
	 			</div>
	 			<div layout="row" class="item">
	 				<div class="dd">Diagnosis</div>
	 				<div class="dt">{{item.outcome.name}}</div>
	 			</div>
	 			<div layout="row" class="item">
	 				<div class="dd">Confidence</div>
	 				<div class="dt">{{item.outcome.probability*100 | number:1}}%</div>
	 			</div>
	 			<div layout="row" class="item" ng-show="item.state == '1'">
	 				<div class="dd">Status</div>
	 				<div class="dt">In progress (<span am-time-ago="item.updated"></span>)</div>
	 			</div>
	 			<div layout="row" class="item" ng-show="item.state == '2'">
	 				<div class="dd">Completed</div>
	 				<div class="dt">{{item.ended | amDateFormat:'MMM DD, h:mmA'}}</div>
	 			</div>
	 	</div>		
	</div>			
</div>

 -->