<div layout="row" class="session-tools">
	<h3 ng-show="patient.id">Edit Patient</h3>
	<h3 ng-hide="patient.id">New Patient</h3>
</div>

<div layout="row">
	<form name="userForm" flex="50" layout-padding class="md-whiteframe-z1 user-form">
		<md-input-container> 
			<label>Reference</label> 
			<input md-maxlength="30" required name="name" ng-model="patient.ref">
			<div ng-messages="userForm.name.$error" ng-show="userForm.name.$touched && userForm.name.$invalid">
				<div ng-message="required">This is required.</div>
			</div>
		</md-input-container>
		
		<md-input-container style="width:30%"> 
			<label>Age</label> 
			<input md-maxlength="3" required name="age" ng-model="patient.age">
			<div ng-messages="userForm.name.$error" ng-show="userForm.name.$touched && userForm.name.$invalid">
				<div ng-message="required">This is required.</div>
			</div>
		</md-input-container>

		<md-input-container>
			<fieldset class="radio-btn">
				<legend>Gender</legend>
				<md-radio-group ng-model="patient.gender" aria-label="Patient Gender"> 
					<md-radio-button value="female">Female</md-radio-button> 
					<md-radio-button value="male">Male</md-radio-button> 
				</md-radio-group> 
			</fieldset>
		</md-input-container>

	</form>
	<span flex></span>
</div>

<div layout="row"  layout="row" class="form-tools" layout-align="start center">
	<md-button class="md-raised md-accent" ng-click="save(patient)" ng-disabled="!userForm.$valid" >Save</md-button>
	<md-button md-no-ink class="md-primary" ng-href="#/patients">Cancel</md-button>
</div>
