	<div layout="row" class="session-tools">
		<h3>Session Details</h3>
		<span flex></span>
		<div layout="row" layout-align="end center">
	 		<md-button class="md-raised" ng-click="back()">Cancel</md-button>
	 		<md-button class="md-raised" ng-click="delete()">Delete</md-button>
	 		<md-button class="md-raised" ng-click="update()">Update Diagnosis</md-button>
	 		<md-button class="md-raised" ng-click="reviewed()">Mark Reviewed</md-button>
		</div>
	</div>
	
	<div layout="row" class="session-detials" style="margin-right: -15px">
 		<div flex layout="column" layout-padding class="md-whiteframe-z1 patient-tile">
			<h3>Patient</h3>
 			<md-divider></md-divider>
 			<div layout="row" class="item">
 				<div class="dd">Reference</div>
 				<div class="dt">{{item.patient.ref}}</div>
 			</div>
 			<div layout="row" class="item">
 				<div class="dd">Age</div>
 				<div class="dt">{{item.patient.age}}</div>
 			</div>
 			<div layout="row" class="item">
 				<div class="dd">Gender</div>
 				<div class="dt">{{item.patient.gender}}</div>
 			</div>
 			<div layout="row" class="item" >
 				<div class="dd" ng-show="item.state == '1'">Session</div>
 				<div class="dt" ng-show="item.state == '1'">In progress (<span am-time-ago="item.updated"></span>)</div>
 				<div class="dd" ng-show="item.state == '2'">Completed</div>
 				<div class="dt" ng-show="item.state == '2'">{{item.ended | amDateFormat:'MMM DD, h:mmA'}}</div>
 			</div> 			
 		</div>		
 		
 		<div flex layout-padding layout="column" class="md-whiteframe-z1 patient-tile inset-2">
 			<div layout="row" layout-align="space-between center ">
				<h3>Symptoms</h3>
				<span flex></span>
				<md-checkbox ng-model="symptomFilter" ng-false-value="'present'" ng-true-value="''" aria-label="Show absent">
          			show all
        		</md-checkbox>
			</div>
 			<md-divider></md-divider>
 			<div layout="row" layout-align="space-betweeen space-betweeen" 
 				 class="item" ng-class="{'absent' : symptom.value == 'absent', 'indent' : symptom.parent}"  
 				 ng-click="showDetails(symptom.id)"
 				 ng-repeat="symptom in item.symptoms.items | filter: { value: symptomFilter }">
 				<div class="dd" flex ng-class="{'info' : !symptom.parent}">{{symptom.name}}</div>
 			</div>
 		</div>		

 		<div flex layout-padding layout="column" class="md-whiteframe-z1 patient-tile inset-2">
			<h3>Diagnosis</h3>
 			<md-divider></md-divider>
 			<div layout="row" class="item" ng-repeat="outcome in item.outcome.full">
 				<div class="dd" flex>{{outcome.name}}</div>
 				<div class="dt" flex>
 					<div class="bar-chart" style="width: {{outcome.probability*100 | number:1}}%">{{outcome.probability*100 | number:1}}%</div>
 				</div>
 			</div>
 		</div>
 				
	</div>