<div layout="row" class="session-tools">
	<h3>Patients</h3>
	<span flex></span>
	<div layout="row" layout-align="end center" ng-show="selected.length > 0">
 		<md-button class="md-raised" ng-click="clearSelected()">Clear</md-button>
 		<md-button class="md-raised" ng-click="deleteSelected(selected)">Delete</md-button>
	</div>
	<div layout="row" layout-align="end center" ng-hide="selected.length > 0">
 		<md-button class="md-raised md-primary md-accent" ng-click="newPatient()">New Patient</md-button>
	</div>
</div>

<div layout="column" class="md-whiteframe-z1">
	<div layout="column" flex>
		
		<div layout="row" class="table-header">
		    <div flex="5" class="checkbox-container"></div>
		    <div flex >
		    	<a ng-click="setOrder('ref')">
			    	<span>Reference</span>
			    	<ng-md-icon icon="unfold_more" ng-hide="order == 'ref' || order == '-ref'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_up" ng-show="order == 'ref'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_down"  ng-show="order == '-ref'"></ng-md-icon>
		    	</a>
		    </div>
		    <div flex>
		    	<a ng-click="setOrder('gender')">
			    	<span>Gender</span>
			    	<ng-md-icon icon="unfold_more" ng-hide="order == 'gender' || order == '-gender'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_up" ng-show="order == 'gender'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_down"  ng-show="order == '-gender'"></ng-md-icon>
		    	</a>		    
		    </div>
		    <div flex>
		    	<a ng-click="setOrder('age')">
			    	<span>Gender</span>
			    	<ng-md-icon icon="unfold_more" ng-hide="order == 'age' || order == '-age'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_up" ng-show="order == 'age'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_down"  ng-show="order == '-age'"></ng-md-icon>
		    	</a>	
		    </div>
		    <div flex>
		    	<a ng-click="setOrder('dob')">
			    	<span>DOB</span>
			    	<ng-md-icon icon="unfold_more" ng-hide="order == 'dob' || order == '-dob'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_up" ng-show="order == 'dob'"></ng-md-icon>
			    	<ng-md-icon icon="arrow_drop_down"  ng-show="order == '-dob'"></ng-md-icon>
		    	</a>	
		    </div>
		</div>

		<div class="table-row" layout="row" layout-align="center center" ng-hide="patients">
			<div flex="20">Loading ...</div>
		</div>
		
		<div layout="row" ng-repeat="patient in patients | orderBy : orderRepeater" 
						  class="table-row" 
						  ng-class="exists(patient.id, selected) ? 'selected' : ''" 
						  ng-click="showDetail(patient, $event)">
		    <div flex="5" layout="row" layout-align="center start"  class="checkbox-container">
		    	<md-checkbox ng-click="toggle(patient.id, selected, $event)" ng-checked="exists(patient.id, selected)" aria-label="{{patient.id}}"></md-checkbox>
		    </div>
		    <div flex>{{patient.ref}}</div>
		    <div flex>{{patient.gender}}</div>
		    <div flex>{{patient.age}}</div>
		    <div flex>{{patient.dob | amDateFormat:'DD MMM YYYY'}}</div>
		</div>
	</div>
</div>
