<div layout="row" layout-align="center center" flex style="height: 650px">
	<div layout="column" class="key-pad md-whiteframe-z1">
		
		<div layout="row" layout-padding layout-align="space-between center">
			<span flex></span>
			<div class="input" ng-class="{'error':pinError}">{{display}}</div>
			<span flex class="btn">
				<a class="md-button" ng-click="pinpadCheck()" style="min-width:40px;">OK</a>
			</span>
		</div>
		
		<div layout="row" layout-padding layout-align="space-between center">
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('1')">1</md-button>
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('2')">2</md-button>
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('3')">3</md-button>
		</div>
	
		<div layout="row" layout-padding layout-align="space-between center">
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('4')">4</md-button>
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('5')">5</md-button>
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('6')">6</md-button>
		</div>

		<div layout="row" layout-padding layout-align="space-between center">
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('7')">7</md-button>
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('8')">8</md-button>
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('9')">9</md-button>
		</div>

		<div layout="row" layout-padding layout-align="space-between center">
			<md-button class="c4c-round-button" md-no-ink style="visibility:hidden"></md-button>
			<md-button class="c4c-round-button" md-no-ink ng-click="pinpadKeyPress('0')">0</md-button>
			<span flex="30" class="btn">
				<a class="md-button" ng-click="pinpadClear()" style="min-width:60px;">clear</a>
			</span>
		</div>
	
	</div>
</div>		