<form class="patient-form" name="form" novalidate layout="column" layout-align="space-between center">
    <md-input-container>
    	<label class="center">Name or reference</label>
		<input required name="ref" ng-model="patient.ref" ng-model-options="{ debounce: '100'}" style="text-align: center;">
    </md-input-container>
    <md-input-container md-no-float>
	   	<md-button class="md-raised md-primary button-med" ng-disabled="!form.$valid" ng-click="start(patient.ref)">
	    	Start
	   	</md-button>
    </md-input-container>
</form>
