
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilegrid_33 */
.profile_mobilegrid_33 {
	height: auto;
	width:100%;
	margin: 4px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.profile_mobilegrid_33 > tr > td {
	vertical-align: top;
}
.profile_mobilegrid_33_row_0, .profile_mobilegrid_33_row_0 > td {
	height: 30px
}
/* mobilegridcell_34 */
.profile_mobilegridcell_34 {
	height:30px !important;
	width:40px;
	padding: 4px 2px 2px 8px;
	background-color: #eeeeee;
}
.profile_mobilegridcell_34 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_45 */
.profile_mobileimage_45 {
	margin: 4px 0px 4px 0px;
	width: 24px; height: 24px;
	display: block;
}
/* mobilegridcell_35 */
.profile_mobilegridcell_35 {
	height:30px !important;
	width:auto;
	padding: 5px 2px 2px 2px;
	background-color: #eeeeee;
}
.profile_mobilegridcell_35 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_31 */
.profile_mobilelabel_31 {
	text-decoration: none; font-weight: normal; color: #4a4848; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38 */
.profile_mobilegridcell_38 {
	height:30px !important;
	width:40px;
	padding: 2px 2px 0px 8px;
	background-color: #eeeeee;
}
.profile_mobilegridcell_38 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_40 */
.profile_mobileimage_40 {
	margin: 4px 0px 4px 0px;
	width: 24px; height: 24px;
	display: block;
}
/* mobilegridcell_41 */
.profile_mobilegridcell_41 {
	height:30px !important;
	width:40px;
	padding: 2px 2px 2px 8px;
	background-color: #eeeeee;
}
.profile_mobilegridcell_41 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_42 */
.profile_mobileimage_42 {
	margin: 4px 0px 4px 0px;
	width: 24px; height: 24px;
	display: block;
}
/* mobilecontainer */
.ui-content.profile_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_11 */
.profile_mobilegrid_11 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.profile_mobilegrid_11 > tr > td {
	vertical-align: top;
}
.profile_mobilegrid_11_row_0, .profile_mobilegrid_11_row_0 > td {
	height: 30px
}
/* mobilegridcell_12 */
.profile_mobilegridcell_12 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.profile_mobilegridcell_12 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_47 */
.profile_mobilelabel_47 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_16 */
.profile_mobilelabel_16 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.profile_mobilefooter {
	min-height:38px;
}
/* mobilegrid_23 */
.profile_mobilegrid_23 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.profile_mobilegrid_23 > tr > td {
	vertical-align: top;
}
.profile_mobilegrid_23_row_0, .profile_mobilegrid_23_row_0 > td {
	height: 30px
}
/* mobilegridcell_24 */
.profile_mobilegridcell_24 {
	height:30px !important;
	width:245px;
	padding: 2px 2px 2px 2px;
}
.profile_mobilegridcell_24 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextinput_46 */
.profile_mobiletextinput_46 {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_25 */
.profile_mobilegridcell_25 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.profile_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_29 */
#profile_mobilebutton_29 {

}
.ui-btn.profile_mobilebutton_29 {
	margin: 4px 5px 4px 5px;
}