
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.selectScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* spacer_4 */
.selectScreen_spacer_4 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_1 */
#selectScreen_mobilebutton_1 {

}
.ui-btn.selectScreen_mobilebutton_1 {
	margin: 4px 5px 4px 5px;
}
/* spacer_2 */
.selectScreen_spacer_2 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_3 */
#selectScreen_mobilebutton_3 {

}
.ui-btn.selectScreen_mobilebutton_3 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.selectScreen_mobilefooter {
	min-height:38px;
}