
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* signingInLabel */
.startScreen_signingInLabel {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* loginWithGoogleBtn */
#startScreen_loginWithGoogleBtn {
	display: none;
}
.ui-btn.startScreen_loginWithGoogleBtn {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_15 */
.startScreen_mobilelabel_15 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 24px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_9 */
.startScreen_mobilegrid_9 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
	display: none;
}
.startScreen_mobilegrid_9 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_9_row_0, .startScreen_mobilegrid_9_row_0 > td {
	height: 30px
}
/* mobilegridcell_10 */
.startScreen_mobilegridcell_10 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_10 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_14 */
#startScreen_mobilebutton_14 {

}
.ui-btn.startScreen_mobilebutton_14 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}