<div layout="column" layout-fill layout-align="start space-between">

	<div layout="row" layout-margin layout-padding layout-align="space-between start" class="md-whiteframe-z1" style="background: #fff; height:90px">
	
		<md-chips flex ng-model="selectedSymptoms" md-autocomplete-snap md-require-match style="background: #fff">
	      <md-autocomplete
	      	  ng-disabled="true"
	          md-min-length = "2"
	          md-delay = "1000"
	          md-menu-class = "c4c-autocomplete"
	      	  md-selected-item-change="null" 
	      	  md-search-text-change="null"
	          md-selected-item="selectedSymptom"
	          md-search-text="searchText"
	          md-items="item in querySearch(searchText)"
	          md-item-text="item.name"
	          placeholder="+ add symptopm">
	        <span md-highlight-text="searchText">{{item.name}}</span>
	      </md-autocomplete>

	      <md-chip-template>
	        <span>
	          <strong>{{$chip.name}}</strong>
	        </span>
	      </md-chip-template>
		</md-chips>
    		
	   	<md-button flex="20" class="md-raised md-accent" ng-click="newSession(selectedSymptoms)" >
	    	<div layout="row" layout-align="space-between start">
		    	<span flex>Start Assessment</span>
	    	</div>
	   	</md-button>		
	</div>
	
	<div layout="row" flex layout-align="start space-between" layout-padding>
		
		<div layout="column" flex="{{bodyView ? '' : 80}}" 
							 layout-align="start start" 
							 class="md-whiteframe-z1 c4c-symptopms-container"
							 ng-class="{closed : bodyView}" >
		
			<h3 ng-click="showSymptomsSelector()" class="c4c-symptoms-header">General Symptom Groups</h3>
			<div>
				<md-button ng-repeat="g in groupsOfSymptoms" class="md-raised" ng-class="{'md-primary' : symptomsGroup == g}" ng-click="setSymptomsGroup(g)">
		    		{{g.name}}
		   		</md-button>
	   		</div>
			<h3 style="margin-top: 50px">{{symptomsGroup.name}} symptoms</h3>
			<div>
				<md-button ng-repeat="s in symptomsGroup.symptoms" class="md-raised md-hue-1" ng-click="addSymptom(s)">
			    	{{s.name}}
			   	</md-button>
		   	</div>
		   	
		</div>      
		<div layout="row" flex="{{bodyView ? 90 : ''}}" 
							 layout-align="space-between start" 
							 class="md-whiteframe-z1 c4c-body-container"  
							 ng-class="{closed : !bodyView}" 
							 style="background: #fff">
			<div layout="column" flex="70" layout-align="start start" class="c4c-symptoms-selector">
				<h3>{{symptomsLocation.name}}</h3>
				<div>
					<md-button ng-repeat="l in symptomsLocation.parts" class="md-raised" ng-class="{'md-primary' : symptomsGroup == l}" ng-click="setSymptomsGroup(l)">
			    		{{l.name}}
			   		</md-button>
		   		</div>
				<h3 style="margin-top: 50px" ng-show="symptomsGroup.name">{{symptomsGroup.name}} symptoms</h3>
				<div>
					<md-button ng-repeat="s in symptomsGroup.symptoms" class="md-raised md-hue-1" ng-click="addSymptom(s)">
				    	{{s.name}}
				   	</md-button>
			   	</div>
			</div>

			<div layout="column" flex class="c4c-body-map" layout-align="start center" layout-padding>
				<h3>Body map</h3>
				<div class="c4c-body-map-assembly">
					<img src="css/img/body_head.svg" width="41" height="50" id="head" ng-click="selectBodyPart('Head')">
					<img src="css/img/body_chest.svg" width="64" height="83" id="chest" ng-click="selectBodyPart('Chest')">
					<img src="css/img/body_center.svg" width="77" height="85" id="abdomen" ng-click="selectBodyPart('Abdomen')">
					<img src="css/img/body_legs.svg" width="79" height="153" id="legs" ng-click="selectBodyPart('Legs')">
					<img src="css/img/body_arm_left.svg" width="48" height="156" id="left-arm" ng-click="selectBodyPart('Arms')">
					<img src="css/img/body_arm_right.svg" width="48" height="156" id="right-arm" ng-click="selectBodyPart('Arms')">
				
				</div>
			</div>
		</div>      
	</div>

</div>