<md-content md-scroll-y layout="column" layout-align="center center" layout-margin layout-padding flex>
	<div layout="column" layout-align="space-between center" layout-margin flex>
		<h3>Please answer a few simple questions to help doctor with your initial assessment.</h3> 
		<h3>If you don't want or don't know how to answer, simply skip the question.</h3>
	   	<md-button flex class="md-raised md-primary button-lg" ng-href="#/{{$root.patient.id}}/gender">
	    	Start
	   	</md-button>		
	</div>      
</md-content>