<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
	    	<h2>Pin required</h2>
	      	<span flex></span>
	      	<md-button class="md-icon-button" ng-click="closeDialog($event)">
				<ng-md-icon icon="close"></ng-md-icon>
	      	</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="column" class="key-pad" style="overflow:hidden">
		
			<div layout="row" layout-padding layout-align="space-between center">
				<span flex></span>
				<div class="input" ng-class="{'error':pinError}">{{display}}</div>
				<span flex class="btn">
					<a ng-click="pinpadCheck()">OK</a>
				</span>
			</div>
			
			<div layout="row" layout-padding layout-align="space-between center">
				<md-button class="md-fab" ng-click="pinpadKeyPress('1')">1</md-button>
				<md-button class="md-fab" ng-click="pinpadKeyPress('2')">2</md-button>
				<md-button class="md-fab" ng-click="pinpadKeyPress('3')">3</md-button>
			</div>
		
			<div layout="row" layout-padding layout-align="space-between center">
				<md-button class="md-fab" ng-click="pinpadKeyPress('4')">4</md-button>
				<md-button class="md-fab" ng-click="pinpadKeyPress('5')">5</md-button>
				<md-button class="md-fab" ng-click="pinpadKeyPress('6')">6</md-button>
			</div>
	
			<div layout="row" layout-padding layout-align="space-between center">
				<md-button class="md-fab" ng-click="pinpadKeyPress('7')">7</md-button>
				<md-button class="md-fab" ng-click="pinpadKeyPress('8')">8</md-button>
				<md-button class="md-fab" ng-click="pinpadKeyPress('9')">9</md-button>
			</div>
	
			<div layout="row" layout-padding layout-align="space-between center">
				<md-button class="md-fab" style="visibility:hidden"></md-button>
				<md-button class="md-fab" ng-click="pinpadKeyPress('0')">0</md-button>
				<span flex="30" class="btn">
					<a ng-click="pinpadClear()">clear</a>
				</span>
			</div>
		
		</div>
	</md-dialog-content>
</md-dialog>