<md-content md-scroll-y layout="column" layout-align="center center" layout-margin layout-padding flex>
	<div layout="column" layout-align="space-between" layout-margin flex ng-show="session.next.type=='group_multiple'">
		<h3  style="text-align: center">{{session.next.label}}</h3>
		
		<md-checkbox ng-repeat="cat in session.next.symptoms" ng-model="cat.value" ng-true-value="'present'" ng-false-value="'absent'" aria-label="checkbox {{ d }}">
      		{{ cat.name }}
		</md-checkbox>
		
	   	<md-button flex class="md-raised md-primary button-med" ng-click="questionMulti(session.next.symptoms)">
	    	Next
	   	</md-button>
	</div>   
	<div layout="column" layout-align="space-between center" layout-margin flex ng-show="session.next.type=='single'">
		<h3>{{session.next.label}}</h3>

		<div class="form-container" layout="row" layout-align="center center" layout-margin layout-padding flex>
		
		   	<md-button flex class="md-raised md-primary button-lg" ng-click="questionSingle({id:session.next.symptoms[0].id, value:'present'})">
		    	Yes
		   	</md-button>
		
		   	<md-button flex class="md-raised md-primary button-lg" ng-click="questionSingle({id:session.next.symptoms[0].id, value:'absent'})">
		    	No
		   	</md-button>
		</div>
		
	</div>      
	<div layout="column" layout-align="space-between center" layout-margin flex ng-show="session.next.type=='numeric'">
		<h3>{{session.next.label}}</h3>

	     <md-input-container  class="form-item-med">
			<label>{{session.next.label}}</label>
			<input name="ref" ng-model="symptom.value">
			<div ng-messages="symptom.value.$error">
				<div ng-message="required">{{session.next.description}}</div>
			</div>
	     </md-input-container>

	   	<md-button flex class="md-raised md-primary button-med" ng-click="question(symptom.value)">
	    	Next
	   	</md-button>
		
	</div>      
</md-content>