<div layout="row">
	<span flex></span>
	<div flex-md="60" flex-gt-md="40" flex-sm="85"  layout="column" layout-align="space-between left" ng-show="session.next.type=='group_multiple'">
		<div layout="row" layout-padding>
			<h3>{{session.next.label}}</h3>
			<p class="explainer">You can select multiple items</p>
		</div>
		<md-checkbox ng-repeat="cat in session.next.symptoms" ng-model="cat.value" ng-true-value="'present'" ng-false-value="'absent'">
      		{{ cat.name }}
		</md-checkbox>
		<div class="inset"></div>
		<div>
		   	<md-button class="md-raised md-primary" ng-click="question(session.next.symptoms)">
		    	Next
		   	</md-button>
	   	</div> 
	</div>   
	<div flex-md="60" flex-gt-md="40" flex-sm="85" layout="column" layout-align="space-between left" ng-show="session.next.type=='single'">
		<div layout="row" layout-padding>
			<h3>{{session.next.label}}</h3>
		</div>

		<div class="inset"></div>

		<div layout="row">
			
		   	<md-button layout-fill class="md-raised md-primary" ng-click="question([{id:session.next.symptoms[0].id, value:'present'}])">
		    	Yes
		   	</md-button>
		   	
		   	<md-button layout-fill class="md-raised md-primary" ng-click="question([{id:session.next.symptoms[0].id, value:'absent'}])">
		    	No
		   	</md-button>
		</div>
	</div>   
	<div flex-md="60" flex-gt-md="40" flex-sm="85" layout="column" layout-align="space-between left" ng-show="session.next.type=='group_single'">
		<div layout="row" layout-padding>
			<h3>{{session.next.label}}</h3>
		</div>
		
		<md-radio-group ng-model="s">
  			<md-radio-button ng-repeat="cat in session.next.symptoms" ng-value="cat.id">
         		{{ cat.name }}
  			</md-radio-button>
		</md-radio-group>
		
		<div class="inset"></div>

		<div>
		   	<md-button flex class="md-raised md-primary" ng-click="question([{id:s, value:'present'}])">
		    	Next
		   	</md-button>
		</div>
	</div> 	   
	<div flex-md="60" flex-gt-md="40" flex-sm="85" layout="column" layout-align="space-between center" ng-show="session.next.type=='numeric'">
		<div layout="row" layout-padding>
			<h3>{{session.next.label}}</h3>
		</div>
		
	    <md-input-container class="form-item-med">
			<label>{{session.next.label}}</label>
			<input name="ref" ng-model="symptom.value">
			<div ng-messages="symptom.value.$error">
				<div ng-message="required">{{session.next.description}}</div>
			</div>
	    </md-input-container>

		<div class="inset"></div>

	   	<div>
		   	<md-button flex class="md-raised md-primary button-med" ng-click="question(symptom.value)">
		    	Next
		   	</md-button>
		</div>
	</div>      
	<span flex></span>
</div>