#main, #left {
	visibility: hidden;
}

body.app-ready #progress {
	display: none;
}

body.app-ready #main, body.app-ready #left {
	visibility: visible;
}

.user-avatar {
  border-radius: 99%;
}

.user-box {
	padding: 16px; 
}

.user-box h4 {
	margin:5px 0 2px 0;	
}

.user-box span {
	font-size: 85%;	
}



md-list.menu a md-item-content {
	position: relative;
	margin-bottom: 5px;
}

md-list.menu a:hover md-item-content {
	background-color: #eee;
}


md-list.menu a {
	color: #333;
	fill: #333;
	text-decoration: none;
}


md-toolbar:not(.md-hue-1), .md-fab {
  fill: #fff;
}

md-toolbar h1 {
  font-size: 1.20em;
  font-weight: 400;
  margin: auto;
}


.bg-grey {
	background-color: #fafafa;
}

.bg-dark {
	background-color: #252833;	
}

.session-detials .patient-tile h3{
	margin: 0px 0px 16px 0px;
}

.session-detials .patient-tile md-divider{
	margin-bottom: 16px;
}

.session-tools{
	padding-bottom: 5px; 
	margin-right: -5px	
}

.item {
	min-height: 24px;
	padding:5px 0px;
}

.item .dd {
	color: #0227bd;
	min-width: 100px;
	padding-right: 8px;
}

.item.absent {
	opacity: 0.5;
	text-decoration: line-through;
}

.item.indent .dd{
	padding-left: 1em;
	font-size: 90%;
	color: #666;
}

.item .dt .bar-chart {
	background-color: #B3E5FC;
	text-align: right;
	padding: 0px 2px;
}

.inset-2 {
	padding:16px;
}

.patient-tile-container {
	outline: none;
}

.patient-tile-container.selected {
	background-color: #eee;
}

.patient-tile-container.selected .patient-tile{
	transform : scale(0.90, 0.90);
	margin: 0; 
}

.patient-tile  {
	position: relative;;
	margin-right:16px;
	margin-bottom:16px;
	background-color: #fff;
	padding:16px;
}

.patient-tile-container.selected .patient-tile .select-btn{
	fill:#999;
	visibility: visible;
}

.patient-tile-container:hover  .patient-tile .select-btn{
	visibility:visible;
}

.select-btn {
	visibility:hidden;
	fill:#ccc;
	position:absolute; 
	top:10px; 
	right:10px;
}

.select-btn:hover {
	fill:#888;
}

md-toolbar {
	fill:#fff;
}

md-menu-item>.md-button ng-md-icon {
  margin: auto 16px auto 0;
}

ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.table-row {
	padding: 5px 0px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	cursor: pointer;
	outline: none;
}

.table-row:hover {
	background-color: #E1F5FE;
}

.table-row.selected {
	background-color: #E1F5FE;
}


.table-header {
	padding: 5px 0px;
	border-bottom: 1px solid #eee;
	background-color: #EEEEEE;
	font-weight: bold;
}

.table-row > div, .table-header > div{
	line-height: 30px;
	padding-top: 5px;
}

.table-row > div.checkbox-container, .table-header > div.checkbox-container {
	padding-top: 5px;	
	min-width: 48px;
}

.user-form {
	background-color: #fff;
	padding: 20px 30px 0px 30px;	
}

.user-form fieldset.radio-btn {
	margin-top: 20px;
	width: 200px;
	border: 1px solid #aaa;
	border-radius: 5px;	
}

.user-form fieldset.radio-btn legend{
	color: #999;
}

.form-tools {
	margin-left: -8px;
}

/*
old

.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}


.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  position: absolute;
  width: 36px;
} 
md-toolbar h1 {
  font-size: 1.20em;
  font-weight: 400;
  margin: auto;
}

md-toolbar .toolbar-button {
	font-size: 1em;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}
.session-card {
	background-color: #ececec; 
}
.session-tile {
	font-size: 100%;
}
.session-tile dt {
	font-weight: bolder;
}
.no-margin {
	margin: 0;
}

.patient-tile > *{
	width: 100%
}

.patient-tile {
	min-height: 300px;
}

.patient-tile .item{
  min-height: 1.5em;
  padding: 0.5em;
}

.patient-tile .item:nth-child(even) {
    background: #f3f3f3;
}

.patient-tile h3{
	padding-bottom:0.5em;
	font-weight: 400;
}

.patient-tile .item.line{
	margin-bottom:1em;
	border-bottom: 1px solid #ccc;
}


.item .dd {
	color: #0227bd;
	padding-right: 12px;
}

md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}

.hero {
	top:0px  !important;
	left: 0px !important;
	width:calc(100% - 12px) !important;
	height:calc(100% - 12px) !important;
	z-index: 10;
}

*/
