#main, #left {
	visibility: hidden;
}

.user-avatar {
  border-radius: 99%;
}

.user-box {
	padding: 16px; 
}

.user-box h4 {
	margin:5px 0 2px 0;	
}

.user-box span {
	font-size: 85%;	
}


md-list.menu a {
	cursor: pointer;
}

md-list.menu a md-item-content {
	position: relative;
}

md-toolbar:not(.md-hue-1), .md-fab {
  fill: #fff;
}

md-toolbar h1 {
  font-size: 1.20em;
  font-weight: 400;
  margin: auto;
}


.bg-grey {
	background-color: #fafafa;
}

.bg-dark {
	background-color: #252833;	
}

.patient-tile  {
	margin-right:16px;
	margin-bottom:16px;
	background-color: #fff;
	padding:16px;
}

.session-detials .patient-tile h3{
	margin: 0px 0px 16px 0px;
}

.session-detials .patient-tile md-divider{
	margin-bottom: 16px;
}

.item {
	min-height: 24px;
	padding:5px 0px;
}

.item .dd {
	color: #0227bd;
	min-width: 100px;
	padding-right: 8px;
}

.inset-2 {
	padding:16px;
}

.patient-tile.selected {
	transform : scale(0.9, 0.9);
}


.patient-tile.selected .select-btn{
	fill:#aaa;
}

.select-btn {
	fill:#eee;
	position:absolute; 
	top:10px; 
	right:10px;
}

.select-btn:hover {
	fill:#aaa;
}



/*
old

.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}


.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  position: absolute;
  width: 36px;
} 
md-toolbar h1 {
  font-size: 1.20em;
  font-weight: 400;
  margin: auto;
}

md-toolbar .toolbar-button {
	font-size: 1em;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}
.session-card {
	background-color: #ececec; 
}
.session-tile {
	font-size: 100%;
}
.session-tile dt {
	font-weight: bolder;
}
.no-margin {
	margin: 0;
}

.patient-tile > *{
	width: 100%
}

.patient-tile {
	min-height: 300px;
}

.patient-tile .item{
  min-height: 1.5em;
  padding: 0.5em;
}

.patient-tile .item:nth-child(even) {
    background: #f3f3f3;
}

.patient-tile h3{
	padding-bottom:0.5em;
	font-weight: 400;
}

.patient-tile .item.line{
	margin-bottom:1em;
	border-bottom: 1px solid #ccc;
}


.item .dd {
	color: #0227bd;
	padding-right: 12px;
}

md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}

.hero {
	top:0px  !important;
	left: 0px !important;
	width:calc(100% - 12px) !important;
	height:calc(100% - 12px) !important;
	z-index: 10;
}

*/
