
{% extends "auth_base.html" %}

{% block title %}Forgot password{% endblock %}

{% block maincontent %}

		<md-content layout-padding class="md-whiteframe-z1 c4c-login" >
		
	      <p ng-hide="success">Forgot your password? Enter your email to request password reset link.</p>

	      <p ng-show="success">Click <a href="{{link}}">here</a> to reset your password.</p>

	      <br>
	      
	      <p class="login-error" ng-show="error">Sorry, we don't recognise this email address.</p>	      
					
		  <form ng-hide="success" name="forgotForm" novalidate ng-submit="forgotForm.$valid && forgot(user)">
		    
		    <md-input-container md-no-float>
		      <input type="text"
		      		 required 
		      		 name="email" 
		      		 ng-model="user.email" 
		      		 placeholder="Email address">
		      <div ng-messages="forgotForm.email.$error" ng-show="validate || (forgotForm.email.$touched && forgotForm.email.$invalid)">
		        <div ng-message="required">This is required</div>
		      </div>
		    </md-input-container>
		    
		    <md-input-container style="margin-top:10px">
		      <md-button type="submit" class="md-raised md-accent c4c-submit-btn" ng-click="validate=true">submit</md-button>
		    </md-input-container>

		    <md-input-container class="text-link" style="padding-bottom:0px;">
		    	<p>
					<a href="/auth/login">Sign in</a>
				</p>
		    </md-input-container>
		    
		  </form>
		  
		</md-content>


{% endblock %}