{% extends "auth_base.html" %}

{% block title %}Login{% endblock %}

{% block maincontent %}

		<md-content layout-padding class="md-whiteframe-z1 c4c-login" >
		
	      <p class="login-error" ng-show="error">Invalid email or password.</p>
					
		  <form name="loginForm" novalidate ng-submit="loginForm.$valid && login(user)">
		    
		    <md-input-container md-no-float>
		      <input type="text"
		      		 required 
		      		 name="email" 
		      		 ng-model="user.email" 
		      		 placeholder="Email address" 
		      		 value="((email))">
		      <div ng-messages="loginForm.email.$error" ng-show="validate || (loginForm.email.$touched && loginForm.email.$invalid)">
		        <div ng-message="required" >This is required. </div>
		      </div>
		    </md-input-container>
		    
		    <md-input-container md-no-float>
		      <input type="password" 
		      		 required 
		      		 name="password" 
		      		 ng-model="user.password" 
		      		 placeholder="Password" >
		      <div ng-messages="loginForm.password.$error" ng-show="validate || (loginForm.password.$touched && loginForm.password.$invalid)">
		        <div ng-message="required">This is required</div>
		      </div>
		    </md-input-container>

		    <md-input-container style="padding-bottom:15px">
		        <md-checkbox md-no-ink aria-label="Remember me" ng-model="user.remember" class="md-primary c4c-checkbox">
		          Remember me
		        </md-checkbox>
		        <input type="hidden" name="remember" value="{{user.remember}}">
		    </md-input-container>

		    <md-input-container>
		      <md-button type="submit" class="md-raised md-accent c4c-submit-btn" ng-click="validate=true">sign in</md-button>
		    </md-input-container>

		    <md-input-container class="text-link">
		    	<p>
					<a href="/auth/forgot">Forgot password?</a>
		    	</p>
		    </md-input-container>
		    
		  </form>
		  
		</md-content>


{% endblock %}