{% extends "auth_base.html" %}

{% block title %}Reset password{% endblock %}

{% block maincontent %}

		<md-content layout-padding class="md-whiteframe-z1 c4c-login" >
		
		  <p ng-show="success">Your password has been updated. Please continue to <a href="/#/grid">Click4Care site</a>.</p>		
		
	      <p ng-hide="success">Please choose a new password</p>
	      
	      <br>

	      <p class="login-error" ng-show="error">Could not update the password.</p>
	      
		  <form ng-hide="success" name="passwordForm" novalidate ng-submit="passwordForm.$valid && password(user)">
		    
		    <md-input-container md-no-float>
		      <input type="password" 
		      		 required 
		      		 name="password1" 
		      		 ng-model="user.password1" 
		      		 placeholder="New password">
		      <div ng-messages="passwordForm.password1.$error" ng-show="validate || (passwordForm.password1.$touched && passwordForm.password1.$invalid)">
		        <div ng-message="required">This is required</div>
		      </div>
		    </md-input-container>

		    <md-input-container md-no-float>
		      <input type="password" 
		      		 required 
		      		 name="password2" 
		      		 ng-model="user.password2" 
		      		 placeholder="Re-enter new password" 
		      		 password-match="user.password1">
		      <div ng-messages="passwordForm.password2.$error" ng-show="validate || (passwordForm.password2.$touched && passwordForm.password2.$invalid)">
		        <div ng-message="required">This is required</div>
		        <div ng-message="match">Passwords don't match</div>
		      </div>
		    </md-input-container>
		    
		    <input type="hidden" name="token" value="((token))">

		    <md-input-container style="margin-top:10px">
		      <md-button type="submit" class="md-raised md-accent c4c-submit-btn" ng-click="validate=true">submit</md-button>
		    </md-input-container>

		    <md-input-container class="text-link" style="padding-bottom:0px;">
		    	<p>
					<a href="/auth/login">Sign in</a>
				</p>
		    </md-input-container>
		  </form>
		  
		</md-content>


{% endblock %}