{% extends "main.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}

<h1>Register a new user</h1>

<p>

<form action="/auth/signup" method="POST">
	<p>
		<label for="email">Email address</label>
		<input type="text" name="email" /> 
	</p>
	<p>
		<label for="password">Password</label>
		<input type="password" name="password" /> 
	</p>
	<p>
		<label for="text">Name</label>
		<input type="text" name="name" /> 
	</p>
	<p>
		<label for="organisation">Organisation</label>
		<br>
		<select name="organisation">
			<option
				value="5629499534213120">C4C</option>
		</select> 
	</p>
	<p>
		<label for="type">User type</label>
		<br>
		<select name="type">
			<option value="2">User</option>
			<option value="1">Admin</option>
		</select> 
	</p>
	<p>
		<label for="role">User role</label>
		<br>
		<select name="role">
			<option value="1">Doctor</option>
			<option value="2">Nurse</option>
			<option value="3">Receptionist</option>
			<option value="4">Support</option>
			<option value="5">Other</option>
		</select> 
	</p>
	<p>
		<input type="submit" value="Create user" />
	</p>
</form>

{% endblock %}