.bubble-left {
    border: 1px solid #ddd;
    max-width: 75%;
    padding: 4px 10px 6px 10px;
    border-radius: 14px;
    background-color: #ddd;
}

.bubble-right {
    border: 1px solid #55A4FA;
    max-width: 75%;
    padding: 4px 10px 6px 10px;
    border-radius: 14px;
    background-color: #55A4FA;
    float:right;
    color:#fff;
}
