<div layout="row">
	<span flex></span>
	<div flex-md="60" flex-gt-md="50" flex-sm="90" layout="column" layout-align="space-between center">
		<h3>Thank you for completing this short assessment. You can now either request an appointment or have a teleconference with the doctor</h3>
		<div layout="row" layout-align="space-between start">
		   	<md-button flex md-no-ink class="md-raised c4c-square-button" ng-click="$root.notImplemented()">
		    	<div layout-fill layout="column" layout-align="space-between center">
		    		<md-icon md-svg-src="/patient-assets/css/img/ico_planned_procedure.svg" class="c4c-large-icon" aria-label="Appointment"></md-icon>
			    	<span flex>Request Appointment</span>
		    	</div>
		   	</md-button>

		   	<div layout="column" layout-align="start center">
			   	<md-button flex 
			   				md-no-ink 
			   				class="md-raised c4c-square-button" 
			   				ng-disabled="!free || free == 0"
			   				ng-click="call(contact.easyrtcid)">
			    	<div layout-fill layout="column" layout-align="center center">
			    		<md-icon md-svg-src="/patient-assets/css/img/ico_doctor.svg" class="c4c-large-icon" aria-label="Video Chat"></md-icon>
				    	<span flex>Video  call</span>
			    	</div>
			   	</md-button>
			   	<p ng-show="total >= 0">
				   	 <span ng-show="total > 0">{{total}}</span> 
				   	 <span ng-show="total == 0">Sorry, no </span> 
				   	 doctor<span ng-show="total != 1">s</span> 
				   	 online. 
				   	 <br>
				   	 <span ng-show="free > 0">
				   	 {{free}} available for the video call.
				   	 </span> 
			   	</p>
		   	</div>
	   	</div>
	</div>      
	<span flex></span>
</div>